html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html, body {
   padding: 0;
   margin: 0;
   height: 100%;
 }

 #map {
   width: 100%;
   height: 100%;
   margin-top: 30;
 }

nav.navbar {
  border-radius: 0;
  padding: 5px;
  margin: 0;
}

.ngview {
  height: 100%;
}

.container-fluid.radio {
  margin: 0;
  padding: 0;
  height: 100%;
}

.radio, .checkbox {
  height: 100%;
  margin: 0;
}

.map-area, .info-area {
  height: 100%;
  padding: 0;
}

.map-area {
  background: blue;
}

.info-area {
  background: yellow;
}

.esri-ui-top-left.esri-ui-corner {
  margin-top: 100px;
}
