html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html, body {
   padding: 0;
   margin: 0;
   height: 100%;
 }

 #map {
   width: 100%;
   height: 100%;
   margin-top: 30;
   padding: 0;

 }

nav.navbar {
  border-radius: 0;
  padding: 5px;
  margin: 0;
}

.ngview {
  height: 100%;
}

.container-fluid.radio {
  margin: 0;
  padding: 0;
  height: 100%;
}

.radio, .checkbox {
  height: 100%;
  margin: 0;
}

.map-area, .info-area {
  height: 100%;
  padding: 0;
}

.map-area {
  background: #efefef;
}

.info-area {
  background: #fff;
}

.esri-ui-top-left.esri-ui-corner {
  margin-top: 100px;
}

.info-area-box {
  margin-top: 60px;
}

.artist-box-info {
  text-align: center;
}

.artist-box-image {
  width: 320;
  height: 300px;
  display: block;
  float: none;
  margin: 0 auto;
}

.list-group-artists {
  overflow: auto;
  height: 780px;
  max-height: 780px;
}

.top-list-header {
  text-align: center;
}

.loader-wrapper {
  text-align: center;
  margin-top: 150px;
}

.loader-wrapper .text {
  color: #7abfd8;
}
