<div class="container-fluid" id="about">
  <div class="row">
    <div class="paragraph-container">
      <h1>{{vm.title}}</h1>
      <div class="paragraph">
        <p>
          FanMap is a web application that allows a user or an artist to see the newest trends in music, costs-benefits analysis results,
          and social network perception about a particular artist. This application is particularly useful for the mainstream artists
          because they will be able to see what countries, cities, or areas they can visit based on the public perception of the artist
          around the world. The app will give a detailed information of what are the possible costs, benefits, and probabillity of the
          sold-out venues based on the analysis taken from social media.
        </p>
        <div class="lists">
          <div class="done-list">
            <h2> What's Done. </h2>
            <ul class="list-group">
              <li class="list-group-item">RadioMap Generation.</li>
              <li class="list-group-item">Points on map with top 3 artists.</li>
              <li class="list-group-item">Sidebar with top artists.</li>
              <li class="list-group-item"> Artists data gathered from backend.</li>
              <li class="list-group-item">WordCloud. </li>
              <li class="list-group-item"> Speed optimization of the map rendering and top artists. </li>
              <li class="list-group-item">Sentimental analysis data.</li>
              <li class="list-group-item">WordCloud Formatting.</li>
              <li class="list-group-item">UI/UX improvement.</li>
            </ul>
          </div>
          <div class="todo-list">
            <h2> To-Do. </h2>
            <ul class="list-group">
              <li class="list-group-item">Sentimental Analysis visualization.</li>
              <li class="list-group-item">Cost-benefit analysis based on social media.</li>
              <li class="list-group-item">Point Map / Heat Map with sentimental analisis.</li>
              <li class="list-group-item">JavaScript Bug fixes. </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
