<div class="container-fluid radio">
  <div class="row-fluid radio">
    <div class="map-area col-lg-9">
      <div class="map" id="map">
      </div>
    </div>
    <div class="info-area col-lg-3">
      <div class="info-area-box">
        <div class="search-artist">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"> <span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search artist..." aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="top-list">
          <div class="top-list-loader" ng-show="!vm.isLoaded">
            <div class="loader-wrapper">
                <h1 class="text"> Calculating. Please wait... </h1>
                <img src="../../img/loader.gif" alt="" />
            </div>
          </div>
          <div class="top-list-wrapper" ng-show="vm.isLoaded">
              <div class="top-list-header">
                <h1>World's Top Artists</h1>
              </div>
              <ul class="list-group list-group-artists">
               <!-- <li class="list-group-item" ng-repeat="item in vm.topList">
                 {{item.name}}
               </li> -->
               <li class="list-group-item" ng-repeat="item in vm.topList">
                 <div class="artist-box">
                   <img ng-src=" {{  item.image[4]['#text']}}" class="artist-box-image" alt="" />
                   <div class="artist-box-info">
                     <h1>{{item.name}}</h1>
                     <div>{{item.image[0].text}}</div>
                     <div>{{item.stats.listeners}} listeners</div>
                     <div>{{item.stats.playcount}} plays</div>
                     <div>{{item.tags.tag[0].name}}</div>
                     <div> <a href="fanmap">FanMap! </a></div>
                   </div>
                 </div>
              </li>
             </ul>
           </div>
        </div>
      </div>
    </div>

  </div>
</div>
